h1{
        text-align: center;
        font-size: 50px;
        color:#82ce34;		
        }
    .card{
        color: black;
        padding: 10px;
        font-family: Arial;
        border-top-width: 0mm;
        background-color:cornflowerblue;
        font-size: 15px;
        width: 20%;
        height: 80px;
        padding-bottom: 6%;
        border-radius: 15px 15px 15px 18px;
        box-shadow: 0 10px 8px 0 lightblue(0, 0, 0, 0.5);
        margin: auto;
        padding-inline-end:2px 16px;

    
        
    }
    .rechargecard{
        border: none;
        outline: 0;
        padding: 12px;
        color: darkblue;
        background-color: #82ce34;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 20px;
    }
    .showorder{
        border: none;
        outline: 50px;
        padding: 12px;
        color: darkblue;
        background-color: #82ce34;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 20px;
    }
    #card_type{
        float:right;
    }
    #card_status{
        float:right;
    }
    #card_number{
    	float:right;
    }
    #card_name{
    	float:right;
    }
    #card_balance{
    	float:right;
    }
